= contextual_aasms

%div.state
  - if resource.draft?
    %span.badge.badge-success
      = t_aasm('draft')
  - else
    %span.badge
      = t_aasm('draft')
  - if resource.complete?
    %span.badge.badge-success
      = t_aasm('complete')
  - else
    %span.badge
      = t_aasm('complete')

= simple_form_for resource do |f|
  .row-fluid
    .span6= f.input :bill_no, :input_html => {:readonly => true}
    .span6= f.input :spare_no
  .row-fluid
    .span6= f.input :handle_date, :as => :date_field
    .span6= f.input :handle_person
  .row-fluid
    .span6= f.association :workshop, :as => :combobox
    .span6= f.input :handover_person
  .row-fluid
    .span12= f.input :remark, :input_html => {:rows => 4}

  = render 'stock_products/list_form', :f => f, :stock => resource

  .form-actions
    = f.button :submit, :class => 'btn-primary'
