%tr[stock_location]
  %td= stock_location.building
  %td= stock_location.floor
  %td= stock_location.name
  %td.action-links
    = list_link_icon_for(:edit, stock_location)
    = list_link_icon_for(:delete, stock_location)
